p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {

}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
input:-moz-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
input::-moz-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
input:-ms-input-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}

textarea::-webkit-input-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
textarea:-moz-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
textarea::-moz-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}
textarea:-ms-input-placeholder {
  font-family: Poppins-Medium;
  color: #555555;
}

/*---------------------------------------------*/
button {
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {

}




/*==================================================================
[ Form ]*/

.formulario {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}

.titulo_formulario {
  display: block;
  width: 100%;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 20px;
}

.status_processo {
    display: block;
    width: 100%;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: darkgreen;

    /*color: white;
    background: white;*/
    line-height: 1.2;
    text-align: center;
    margin-top: -20px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*------------------------------------------------------------------
[ Input ]*/

.elemento_formulario {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;;
  padding-bottom: 13px;
  margin-bottom: 30px;
}

.quantidade_elemento_linha_formulario {
  width: calc((100% - 100px) / 3);
}

.quantidade_elemento_linha_formulario_ficheiro {
    margin-top: 20px;
    width: calc((100% - 30px) / 2);
}

.label-elemento_formulario {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #ff4b5a;
}


/*---------------------------------------------*/
input.input100 {
  height: 40px;
}


textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}


/*------------------------------------------------------------------
[ Button ]*/
.div_butao_formulario {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
    margin-left: 400px;
  flex-wrap: wrap;
  margin-top: 0px;
}

.botao_formulario {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 400px;
  height: 50px;
  background-color: #ff4b5a;
  border-radius: 25px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
}

.botao_formulario i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.botao_formulario:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.botao_formulario:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}



.validate-input {
  position: relative;
}

.formulario_pesquisa{
    padding-bottom: 0px;
}

.selection_formulario_ficheiro{
    width: 100%;
    height: 40px;
    font-size: 20px;
}





